.textLabel{
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
input{width: 95%;}
.labels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .text{
        margin-left: 5px;
    }
}
.inputField{
    display: flex;
    flex-direction: row;
    align-items: center;
}