.textLabel{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.labels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .text{
        margin-left: 5px;
    }
}
.inputField{
    display: flex;
    flex-direction: row;
    align-items: center;
}

input{
    border: none;
    outline: none;
    border-radius: 0;
}