@mixin Display{
    display: flex;
    flex-direction: column;
}

.cardContent{
    width: 410px;
    border: 1px solid gray;
    line-height: 40px;
    margin: 20px auto;
    padding-bottom: 10% !important;
    padding: 30px;
    .header{
        align-items: center;
        @include Display;
        .headerContent{
            font-size: 30px;
            font-family: sans-serif;
        }
    }
}

@mixin Color($color){
    color: $color;
}

.headerContent span:nth-child(1),
.headerContent span:nth-child(4) {
    @include Color(blue)
}
  
.headerContent span:nth-child(2),
.headerContent span:nth-child(6) {
    @include Color(red)
}
  
.headerContent span:nth-child(3){
    @include Color(yellow)
}

.headerContent span:nth-child(5) {
    @include Color(green)
}

mat-card-subtitle{
    @include Color(black)
}

.mainContent{
    padding-bottom: 30px;
}

.rowContent{
    @include Display;
}
.buttonContent{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px){
    .cardContent{
        width: 100%;
        margin-top: 0;
        align-items: center;
    }
   
}