<div class="forgotCard">
    <mat-card class="cardContent">
        <div class="mainContent">
            <div class="header">
                <mat-card-title class="headerContent">
                    <span>F</span>
                    <span>u</span>
                    <span>n</span>
                    <span>d</span>
                    <span>o</span>
                    <span>o</span>
                </mat-card-title>
                <mat-card-subtitle>
                    <h2>Account Recovery</h2>
                    <h4>Enter your Recovery Email</h4>
                </mat-card-subtitle>  
            </div>
            <form [formGroup]="ForgotPasswordForm" class="formContent">
                <div class="rowContent">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                        <mat-error *ngIf="ForgotPasswordForm.hasError('required', 'email')">Email is required</mat-error>
                        <mat-error *ngIf="ForgotPasswordForm.hasError('email', 'email')">Invalid Email</mat-error>
                    </mat-form-field>
                </div>
                <div class="buttonContent">
                    <button mat-flat-button color="primary" (click) = 'ForgotPassword()'>Next</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>
