@mixin Display{
    display: flex;
    flex-direction: column;
}

@mixin Color($color){
    color: $color;
}

.cardContent{
    width: 30%;
    border: 1px solid gray;
    line-height: 40px;
    margin: 20px auto;
    padding-bottom: 10% !important;
    padding: 30px;
    .header{
        align-items: center;
        @include Display;
        .headerContent{
            font-size: 30px;
            font-family: sans-serif;
        }
        .subContent{
            @include Color(black);
            font-family: sans-serif;
        }
    }
}

.headerContent span:nth-child(1),
.headerContent span:nth-child(4) {
    @include Color(blue)
}
  
.headerContent span:nth-child(2),
.headerContent span:nth-child(6) {
    @include Color(red)
}
  
.headerContent span:nth-child(3){
    @include Color(yellow)
}

.headerContent span:nth-child(5) {
    @include Color(green)
}

mat-card-subtitle{
    @include Color(black)
}

.mainContent{
    padding-bottom: 30px;
}

.buttonContent{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin: 30px 0;
}