.emptyTrash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    p{
        margin-top: 10px;
    }
}

.trashNotes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.noteCard{
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 -10px;
    height: fit-content;
    width: 20%;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p{
        font-size: 15px;
    }
}

.icons{
    mat-icon{
        margin: 0 5px;
        color: rgb(80, 79, 79);
        font-size: 18px;
    }
}