.mainContent{
    width: fit-content;
    border: 1px solid gray;
    line-height: 40px;
    display: flex;
    margin: 30px auto;
    padding: 40px;
}

.headerContent{
    font-size: 30px;
    font-family: sans-serif;
}

@mixin Color($color){
    color: $color;
}

.headerContent span:nth-child(1),
.headerContent span:nth-child(4) {
    @include Color(blue)
}
  
.headerContent span:nth-child(2),
.headerContent span:nth-child(6) {
    @include Color(red)
}
  
.headerContent span:nth-child(3){
    @include Color(yellow)
}

.headerContent span:nth-child(5) {
    @include Color(green)
}

mat-card-subtitle{
    font-size: 20px;
    color: black;
    line-height: 5px;
    span{
        color: gray;
        font-size: 15px;
        text-align: left;
    }
}

input, button {
    color: #202124;
    font-family: sans-serif;
}

.rowContent{
    display: flex;
    flex-direction: row;
}

mat-form-field{
    padding-right: 2%;
}
.userName mat-form-field{
    min-width: 410px;
}
.passwordHint{
    font-size: 11px;
    margin-top: -30px;
    margin-left: 10px;
}

.buttonContent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px 0px;
    mat-button{
        padding-left: 50px;
    }
}

.rightContent{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px;
    justify-content: initial;
    padding: 20px;
    text-align: center;
    img{
        width:250px;
    }
    p{
        line-height: normal;
        font-size: 15px;
    }
}

@media screen and (max-width:600px) {
    .mainContent{
        padding: 40px;
    }
    .rowContent{
        display: flex;
        flex-direction: column;
    }
    .rightContent{
        display: none;
    }
    .userName mat-form-field{
        min-width: 95%;
    }
}

@media screen and (max-width:900px) {
    .mainContent{
        padding: 40px;
        width: fit-content;
    }
    
    .rightContent{
        display: none;
    }
}
