.ToolBar{
    box-sizing: border-box;
    display: flex;
    border: 1px solid rgb(190, 187, 187);
    mat-toolbar{
      background-color: #fff !important;
      .header{
        padding-left: 10px;
        padding-right: 30px;
        font-family: sans-serif;
        color: rgb(80, 79, 79);
      }
      mat-icon{
        color: rgb(80, 79, 79);
      }
    }
}

.searchBar{
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
}
.searchField{
  display: flex;
  width: 700px;
  justify-content: space-between;
  padding: 10px;
  input{
    border-width:0px;
    border:none;
    outline:none;
    width: 100%;
    font-size: 15px;
    font-family: sans-serif;
  }
}

.sideContainer {
    height: 100ex;
    background-color: white;
    mat-sidenav{
    border-width:0px;
    border:none !important;
    outline:none;
  }
}

.sideNav
{
  padding: 10px 0px 10px 0px;
  mat-icon
  {
    margin-left: 5px;
    margin-right: 2ex;
    color: rgb(80, 79, 79);
  }
}

.matList{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  .label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
    font-weight: 500;
  }
}

.rightContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  
}

.userProfile{
  .toolbar-icon{
    transform: scale(2);
    padding-top: 10px;
    padding-left: 8.2ex;
    color: rgb(80, 79, 79);
  }
}

.user{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.logout{
  text-align: center;
  padding-bottom: 10px;
}