<div class="dashboard">
    <div class="ToolBar">
        <mat-toolbar>
            <button mat-icon-button class="toolbar-icon" aria-label="menu icon" (click)="expand=!expand">
                <mat-icon>menu</mat-icon>
           </button>
           <img src="../assets/keep_pic.png">
           <mat-card-title class="header">
                <span>Fundoo</span>
            </mat-card-title>
            <div class="searchBar">
              <mat-card class="searchField">
                <button mat-icon-button class="toolbar-icon" aria-label="search icon">
                  <mat-icon>search</mat-icon>
                </button>
                <input matInput type="text" placeholder="Search">
              </mat-card>
            </div>
            <div class="rightContainer">
              <div>
                <button mat-icon-button class="toolbar-icon" aria-label="list icon" (click)="view=!view">
                  <mat-icon *ngIf=!view>view_list</mat-icon>
                  <mat-icon *ngIf=view>grid_view</mat-icon>
              </button>
              </div>
              <div class="account">
                <button mat-icon-button class="toolbar-icon" aria-label="account_circle icon" [matMenuTriggerFor]="menu">
                  <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="profileMenu" yPosition="below">
                  <div class="userProfile">
                    <button mat-icon-button class="toolbar-icon" aria-label="account_circle icon">
                      <mat-icon>account_circle</mat-icon>
                    </button>
                  </div>
                  <div class="user">
                    <p>{{ name }}</p>
                    <p>{{ email }}</p>
                  </div>
                  <div class="logout">
                  <button mat-stroked-button (click)="LogOut()">Log Out</button>
                  </div>
                </mat-menu> 
              </div>
            </div>
        </mat-toolbar>
    </div>
        <mat-sidenav-container class="sideContainer">
            <mat-sidenav #drawer mode="side" opened="true">
              <mat-nav-list class="sideNav" (mouseover)="expand=true" (mouseleave)="expand=false">
                <mat-list-item class="matList">
                    <mat-icon class="navigate-icon">lightbulb_outline</mat-icon>
                    <span *ngIf="expand" class="label">Notes</span>
                </mat-list-item>
                <mat-list-item class="matList">
                    <mat-icon class="navigate-icon">notifications_none</mat-icon>
                    <span *ngIf="expand" class="label">Reminders</span>
                </mat-list-item>
                <mat-list-item class="matList">
                    <mat-icon class="material-icons-outlined">edit</mat-icon>
                    <span *ngIf="expand" class="label">Edit labels</span>
                </mat-list-item>
                <mat-list-item class="matList">
                  <mat-icon class="material-icons-outlined">archive</mat-icon>
                  <span *ngIf="expand" class="label">Archive</span>
                </mat-list-item>
                <mat-list-item class="matList">
                    <mat-icon class="navigate-icon">delete_outline</mat-icon>
                    <span *ngIf="expand" class="label">Trash</span>
                </mat-list-item>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              <div class="createNote">
                <app-create-notes></app-create-notes>
              </div>
              <div>
                <app-get-notes></app-get-notes>
              </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    
</div>