<div class="updateNote" [ngStyle]="{'background-color':data.note.color}">
    <mat-card class="noteCard" [ngStyle]="{'background-color':data.note.color}">
            <mat-card-title class="header">
                <input matInput placeholder="Title" class="input" [ngStyle]="{'background-color':data.note.color}" value="{{ data.title }}" [(ngModel)]="data.note.title">
                <mat-icon class="material-icons-outlined" *ngIf="!isPin" style="color: rgb(80, 79, 79);" (click)="isPin=true">push_pin</mat-icon>
                <mat-icon class="material-icons" *ngIf="isPin" style="color: rgb(80, 79, 79);" (click)="isPin=false">push_pin</mat-icon>
            </mat-card-title>
            <div>
                <textarea matInput cdkTextareaAutosize placeholder="Note"  class=" input textarea" [ngStyle]="{'background-color':data.note.color}" [(ngModel)]="data.note.description" value="{{ data.description }}"></textarea>
            </div>
            <mat-card-actions>
                <div class="footer" [ngStyle]="{'background-color':data.note.color}">
                    <div class="icons">
                        <app-get-note-icons [notes]="data.note"></app-get-note-icons>
                    </div>
                    <div class="button">
                        <button mat-flat-button mat-dialog-close (click)="EditNote()" [ngStyle]="{'background-color':data.note.color}">Close</button>
                    </div>
                </div>
            </mat-card-actions>
    </mat-card>
</div>
