.toolbar-icon{
    color: rgb(80, 79, 79);
}
.location{
    display: flex;
    flex-direction: column;
}
.reminderHeader{
    padding-left: 20px;
    padding-top: 10px;
}
mat-icon{
    font-size: 18px;
}
.label-subMenu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    input{
        display: flex;
        flex-direction: row;
    }
}
.input{
    border-width:0px;
    border:none;
    outline:none;
}
