<div class="collaboratorContainer">
    <h2 mat-dialog-title>Collaborators</h2>
    <mat-divider></mat-divider>
    <div>
        <div class="owner">
            <mat-icon>account_circle</mat-icon>
        <div class="details">
            <mat-label>{{ userName }}(owner)</mat-label>
            <mat-label>{{ email }}</mat-label>
        </div>
    </div>
    <div class="collaborator" *ngFor="let collaborator of collaborators">
        <mat-icon class="material-icons">person_add</mat-icon>
        <mat-label>{{ collaborator.email }}</mat-label>
        <mat-icon (click)="DeleteCollaborator(collaborator)">close</mat-icon>
    </div>
    <div class="collaborator">
        <mat-icon class="material-icons">person_add</mat-icon>
        <input matInput class="coll_name" placeholder="Person or email to share with">
        <button mat-icon-button>
            <mat-icon (click)="AddCollaborator()">done</mat-icon>
        </button>
        
    </div>
    </div>
    <div class="button">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button>Save</button>
    </div>
</div>