<div class="noteContainer">
    <mat-card class="noteCard" *ngFor="let note of notes" (mouseover)="show=true" (mouseleave)="show=false">
        <div class="title">
            <mat-card-title>
                <p>{{ note.title }}</p>
            </mat-card-title>
        </div>
        <div class="description">
            <mat-card-content>{{ note.description }}</mat-card-content>
        </div>
        <mat-card-actions class="icons">
            <app-note-icons></app-note-icons>
        </mat-card-actions>
        
    </mat-card>
</div>
