<div class="loginCard">
    <mat-card>
        <div class="mainContent">
            <div class="header">
                <mat-card-title class="headerContent">
                    <span>F</span>
                    <span>u</span>
                    <span>n</span>
                    <span>d</span>
                    <span>o</span>
                    <span>o</span>
                </mat-card-title>
                <h2>Sign In</h2>
                <h4>Use your Fundoo Account</h4>
            </div>
            <div class="rowContent">
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>Email</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <form>
                <div class="rowContent">
                    <mat-form-field appearance="outline" hideRequiredMarker>
                        <mat-label>Password</mat-label>
                        <input matInput required type="password">
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox>Show Password</mat-checkbox>  
                </div>
                <div>
                    <a mat-flat-button href="" target="_blank">Forgot password?</a>
                </div>
                <div class="buttonContent">
                    <a mat-flat-button href="/register">Create account</a>
                    <button mat-flat-button color="primary">Next</button>
                </div>
            </form>  
        </div>
    </mat-card>
</div>
