.ToolBar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid grey;
    mat-toolbar{
      background-color: #fff !important;
      .header{
        padding-left: 10px;
        padding-right: 30px;
      }
    }
}

.searchField{
  margin: 10px 30px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input{
  font-size: 20px;
  font-family: sans-serif;
  align-items: center;
  }
}
.sideContainer {
    height: 100ex;
    background-color: white;
}

.sideNav
{
  padding: 10px 0px 10px 0px;
  mat-icon
  {
    margin-left: 5px;
    margin-right: 2ex;
  }
  .navLabel
  {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 6px;
  }
}



.rightContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  .toolbar-icon{
    margin-left: 20px;
  }
  mat-menu{
    display: flex;
    justify-content: center;
  }
}