<div class="archiveNotes">
    <mat-card class="noteCard" *ngFor="let note of notes" [ngStyle]="{'background-color':note.color}">
        <mat-icon class="material-icons-outlined pinIcon" *ngIf="!note.pin" matTootltip="Pin note" (click)="pinNote(note.noteId)">push_pin</mat-icon>
        <img src="{{note.image}}" alt="" (click)="OpenEditNote(note)">
        <button mat-icon-button class="delete_icon" *ngIf="note.image" (click)="RemoveImage(note)">
            <mat-icon *ngIf="note.image" >delete_outline</mat-icon>
        </button>
        <div class="title" (click)="OpenEditNote(note)">
            <mat-card-title>
                <p>{{ note.title }}</p>
            </mat-card-title>
        </div>
        <div class="description" (click)="OpenEditNote(note)">
            <mat-card-content>{{ note.description }}</mat-card-content>
        </div>
        <div class="reminder" *ngIf="note.remainder!=null">
            <mat-chip-list>
                <mat-chip class="reminderchip">
                    <mat-icon>schedule</mat-icon>
                    <mat-label>{{note.remainder}}</mat-label>
                    <mat-icon (click)="DeleteReminder(note)">close</mat-icon> </mat-chip>
            </mat-chip-list>  
        </div>
        <div class="icons">
            <app-get-note-icons [notes]=note></app-get-note-icons>
        </div>
    </mat-card>
</div>