@mixin Display{
    display: flex;
    flex-direction: column;
}

@mixin Color($color){
    color: $color;
}

.resetCard{
    overflow: hidden !important;
}

.cardContent{
    width: 410px;
    border: 1px solid #dadce0;
    line-height: 40px;
    margin: 20px auto;
    padding: 30px;
    .header{
        align-items: center;
        line-height: 15px;
        @include Display;
        .headerContent{
            font-size: 30px;
            font-family: sans-serif;
        }
        .subContent{
            @include Color(black);
            font-family: sans-serif;
        }
    }
}

.headerContent span:nth-child(1),
.headerContent span:nth-child(4) {
    @include Color(blue)
}
  
.headerContent span:nth-child(2),
.headerContent span:nth-child(6) {
    @include Color(red)
}
  
.headerContent span:nth-child(3){
    @include Color(yellow)
}

.headerContent span:nth-child(5) {
    @include Color(green)
}

mat-card-subtitle{
    @include Color(black);
    margin : 0px;
}



.rowContent{
    display: flex;
    flex-direction: row;
    mat-form-field{
        width: 100%;
    }
}

.buttonContent{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin-top: 30px;
}

@media screen and (max-width: 600px){
    .cardContent{
        width: 100%;
        margin-top: 0;
        align-items: center;
    }
   
    .buttonContent{
        flex-flow: column;
    }
}
