<div class="resetCard">
    <mat-card class="cardContent">
        <div class="mainContent">
            <div class="header">
                <mat-card-title class="headerContent">
                    <span>F</span>
                    <span>u</span>
                    <span>n</span>
                    <span>d</span>
                    <span>o</span>
                    <span>o</span>
                </mat-card-title>
                <mat-card-subtitle>
                    <h1>Change password</h1>
                </mat-card-subtitle>  
                <div class="subContent">
                    <h3>Create a strong password</h3>
                    <h4>Create a new, strong password that you don't use for other websites</h4>
                </div>
            </div>
            <form [formGroup]="ResetPasswordForm" class="formContent">
                <!--<div class="rowContent">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                        <mat-error *ngIf="ResetPasswordForm.hasError('required', 'email')">Email is required</mat-error>
                        <mat-error *ngIf="ResetPasswordForm.hasError('email', 'email')">Invalid Email</mat-error>
                    </mat-form-field>
                </div>-->
                <div class="rowContent">
                    <mat-form-field appearance="outline">
                        <mat-label>Create Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <mat-error *ngIf="ResetPasswordForm.hasError('required', 'password')">Password is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="rowContent">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input matInput formControlName="cpassword" [type]="hide ? 'password' : 'text'" pattern="{{this.ResetPasswordForm.value.password}}">
                        <mat-hint>Atleast 8 characters</mat-hint>
                        <mat-error *ngIf="ResetPasswordForm.hasError('required', 'cpassword')">Confirm is required</mat-error>
                        <mat-error *ngIf="ResetPasswordForm.hasError('pattern', 'cpassword')">Those passwords didn't match.Try again</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-checkbox (change)= 'hide = !hide'>Show Password</mat-checkbox>
                </div>
                <div class="buttonContent">
                    <a mat-button color="primary" href="/login">Skip</a>
                    <button mat-flat-button color="primary" (click)='ResetPassword()'>SavePassword</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>