<div class="iconBar">
    <button mat-icon-button class="toolbar-icon" aria-label="add_alert icon">
        <mat-icon [matMenuTriggerFor]="reminder">add_alert</mat-icon>
    </button>
    <mat-menu #reminder="matMenu" class="reminderMenu">
        <p class="reminderHeader">Reminder: </p>
        <button mat-menu-item>
            <p>Later today 8:00PM</p>
        </button>
        <button mat-menu-item>
            <p>Tomorrow 8:00AM</p>
        </button>
        <button mat-menu-item>
            <p>Next week, Mon,8:00AM</p>
        </button>
        <button mat-menu-item>
            <!--<mat-icon>access_time</mat-icon>-->
            <p>Pick date & time</p>
        </button>
        <button mat-menu-item>
            <!--<mat-icon>place</mat-icon>-->
            <p>Pick place</p>
        </button>
    </mat-menu>
    <button mat-icon-button class="toolbar-icon" aria-label="person_add icon">
        <mat-icon class="material-icons-outlined">person_add</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" aria-label="color_lens icon">
        <mat-icon class="material-icons-outlined">color_lens</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" aria-label="image icon">
        <mat-icon class="material-icons-outlined">image</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" aria-label="archive icon">
        <mat-icon class="material-icons-outlined">archive</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" aria-label="more_vert icon">
        <mat-icon [matMenuTriggerFor]="more">more_vert</mat-icon>
    </button>
    <mat-menu #more="matMenu" class="moreMenu">
        <button mat-menu-item>
            <p>Add label</p>
        </button>
        <button mat-menu-item>
            <p>Add drawing</p>
        </button>
        <button mat-menu-item>
            <p>Show checkboxes</p>
        </button>
    </mat-menu>
    <button mat-icon-button class="toolbar-icon" aria-label="undo icon">
        <mat-icon class="material-icons-outlined">undo</mat-icon>
    </button>
    <button mat-icon-button class="toolbar-icon" aria-label="redo icon">
        <mat-icon class="material-icons-outlined">redo</mat-icon>
    </button>   
</div>
