.toolbar-icon{
    margin: 0 10px;
}
.location{
    display: flex;
    flex-direction: column;
}
.reminderHeader{
    padding-left: 20px;
    padding-top: 10px;
}
.color-icon{
    mat-icon{
        border-radius: 50% solid gray !important;
    }
}
