.toolbar-icon{
    margin: 0 8px;
    color: rgb(80, 79, 79);
}
.location{
    display: flex;
    flex-direction: column;
}
.reminderHeader{
    padding-left: 20px;
    padding-top: 10px;
}
mat-icon{
    font-size: 18px;
}
.colorMenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.color-icon{
    display: flex;
    flex-direction: column;
    
}

.toolbar-icon:hover{
    background-color: #dddddd;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 125px;
}
.row{
    display: flex;
    margin: 3px;
}
.color-icon{
    width: 25px;
    height: 25px;
    mat-icon{
        position: absolute;
    }
}

.reminderOption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
